<ion-tabs>

  <ion-tab-bar slot="bottom" color="dark">
    <ion-tab-button tab="tab1">
    <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="bag-add-outline"></ion-icon>
      <ion-label>Offers</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="bag-check-outline"></ion-icon>
      <ion-label>Mis Apliques</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
