<ion-header>
  <ion-toolbar no-border trasnlucent>
    <ion-title>REGISTER</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-card>
 <ion-img src="/assets/img/fpdual.png"></ion-img>

</ion-card>-->

<ion-content padding>
  <ion-item>
    <ion-label>
      Nombre
    </ion-label>
  <ion-input type="text" [(ngModel)]="name" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Apellidos
    </ion-label>
  <ion-input type="text" [(ngModel)]="surname"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Email
    </ion-label>
  <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Contraseña
    </ion-label>
  <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Confirmacion contraseña
    </ion-label>
  <ion-input type="password" [(ngModel)]="c_password"></ion-input>
  </ion-item>
  <ion-item>
  <!--hacer lista-->
  <ion-label>Id ciclo: </ion-label>
  <ion-input type="number" [(ngModel)]="cicle_id"></ion-input>
  </ion-item>
  <!--<ul class="list-group">
  <li class="list-group item">
  <h2>1</h2>
  </li>
  <li class="list-group item">
  <h2>2</h2>
  </li>
  </ul>-->
  <ion-item>
  <ion-button size="medium" (click)="registrarUsuario()">Registrarse</ion-button>
  <ion-button size="medium" href="/login">Login</ion-button>
  </ion-item>
</ion-content>