<ion-header>
  <ion-toolbar no-border trasnlucent>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-card>
 <ion-img src="/assets/img/fpdual.png"></ion-img>

</ion-card>-->

<ion-content padding>
  <ion-item>
    <ion-label>
      DNI
    </ion-label>
    <ion-input type="text" [(ngModel)]="user.dni"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Email
    </ion-label>
  <ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Password
    </ion-label>
  <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Nombre
    </ion-label>
  <ion-input type="text" [(ngModel)]="user.text"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Apellidos
    </ion-label>
  <ion-input type="text" [(ngModel)]="user.apellidos"></ion-input>
  </ion-item>
  <ion-item>
    <ion-select name="Ciclo">
      <ion-option>Ciclo1</ion-option>
      <ion-option>Ciclo2</ion-option>
    </ion-select>
  <!--<ion-input type="email" [(ngModel)]="user.email"></ion-input>
  </ion-item>-->
  <!--<ion-item-divider>
    <ion-bu>tton size="medium" (click)="onRegister()">Guardar usuario</ion-button>
    <ion-button size="medium" routerLink="/login">Entrar</ion-button>
  </ion-item-divider>-->
</ion-content>