<ion-header>
  <ion-toolbar no-border trasnlucent>
    <ion-title>REGISTRO</ion-title>
  </ion-toolbar>
</ion-header>

<!--<ion-card>
 <ion-img src="/assets/img/fpdual.png"></ion-img>

</ion-card>-->

<ion-content padding>
  <ion-item>
    <ion-label>
      Nombre
    </ion-label>
  <ion-input type="text" [(ngModel)]="user.name" name="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Apellidos
    </ion-label>
  <ion-input type="text" [(ngModel)]="user.surname"></ion-input>
  </ion-item>
  <!--<ion-item>
    <ion-label>
      Email
    </ion-label>
  <ion-input type="text" [(ngModel)]="user.email" name="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>
      Password
    </ion-label>
  <ion-input type="password" [(ngModel)]="user.password"></ion-input>
  </ion-item>
  <ion-item>
  <ion-item>
    <ion-select name="Ciclo">
      <ion-option>Ciclo1</ion-option>
      <ion-option>Ciclo2</ion-option>
    </ion-select>-->
</ion-content>