<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ofertas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ofertas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item *ngFor="let offer of offers">
      <h2>{{offer.headline}}</h2>
      <p>{{offer.description}}</p>
      <p>Id ciclo: </p>
      <p>{{offer.cicle_id}}</p>
      <p>Fecha maxima: </p>
      <p>{{offer.date_max}}</p>
      <p>Numero de candidatos: </p>
      <p>{{offer.num_candidates}}</p>
    </ion-item>

</ion-content>
